<div id="main-container">
  <table id="success">
          <thead>
            <tr>
                <th>Activo</th>
                <th></th>
                <th></th>
                <th>Pasivo</th>
               
            </tr>
          </thead>
  
          <tbody>
            <tr>
              <td></td>
              <td></td>
              <td>Corriente</td>
              <td>0</td>
              
            </tr>
            
            <tr>
              <td>Corriente</td>
              <td>46.730</td>
              <td>Cuentas por cobrar</td>
              <td>0</td>
              
            </tr>
            <tr>
              <td>Caja</td>
              <td>32.711</td>
              <td>No corriente</td>
              <td>1.300</td>
              
            </tr>
            <tr>
              <td>Bancos</td>
              <td>14.019</td>
              <td>Alquiler</td>
              <td>1.300</td>
              
            </tr>
  
              <tr>
              <td>Inventario</td>
              <td>0</td>
              <td>Total pasivo</td>
              <td>1.300</td>
              
            </tr>
          
            <tr>
              <td>No corriente</td>
              <td>8.500</td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
  
            <tr>
              <td>Herramientas</td>
              <td>1.500</td>
              <th>Pasivo</th>
              <td></td>
              
            </tr>
  
            <tr>
              <td>Maquinaria</td>
              <td>7.000</td>
              <td></td>
              <td></td>
              
            </tr>

            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td>Patrimonio</td>
              
            </tr>
  
            <tr>
              <td></td>
              <td></td>
              <td>Utilidad del ejercicio</td>
              <td>38.230</td>
              
            </tr>
  
            <tr>
              <td></td>
              <td></td>
              <td>Total patrimonio</td>
              <td>46.748</td>
              
            </tr>
  
            <tr>
              <td>Total activos</td>
              <td>46.748</td>
              <td>Total pasivo + patrimonio</td>
              <td>46.478</td>
              
            </tr>
          </tbody>
        </table>
      </div>
